/*** Shadow of the Weird Wizard Blockquotes ***/

.page blockquote {
  border: none;
  padding: 0.5rem 2rem;
}

.page blockquote:has(h4.example) {
  font-style: italic;

  & h4.example {
    color: white;
    font-size: var(--font-size-100);
    font-family: var(--font-main-2);
    background-color: var(--color-2);
  }
}

.page blockquote h4 {
  border: none;
  text-align: center;
  font-weight: bold;
  background-color: unset;
  font-family: var(--font-main);
}

.page blockquote section h1,
.page blockquote section h2,
.page blockquote section h3,
.page blockquote section h4,
.page blockquote section h5,
.page blockquote section h6 {
  font-family: var(--font-header);
}

.page blockquote p {
  font-size: var(--font-size-100);
  padding-right: 1em;
  line-height: 1.1em;

  & + p {
    text-indent: 1rem;
  }
}

.page blockquote em {
  font-family: Athelas;
}

.page blockquote strong em,
.page blockquote em strong {
  font-style: italic;
}

.page blockquote ul li,
.page blockquote section ul li {
  list-style-type: disc;
  text-indent: 0;
}

.page blockquote small {
  color: var(--color-text-main);
  font-family: var(--font-main);
  line-height: 1.1em;
  font-size: 0.83em;
}

.page div.block.holy-ground blockquote {
  border-image-source: var(--img-holy-ground-bg);
  background-size: auto auto;
  padding: 1.5rem 0 1.5rem 0;
  color: var(--color-text-main);
}

/*** Patreon ***/

.page .patreon blockquote {
  & h3 {
    bottom: 15px;
    right: 20px;
    width: 300px;
    position: absolute;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-3);
    text-transform: unset;
    letter-spacing: 0.05rem;
    font-size: var(--font-size-300);
    font-family: var(--font-header);
    background-color: var(--color-2);
  }

  & hr + h5 {
    border: none;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;

    & + h4 {
      margin: 0;
    }
  }

  & p {
    font-size: 12pt;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  & img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/*** Patreon END ***/
