/*** Shadow of the Weird Wizard Global properties ***/

:root {
  /* Colors */
  --color-1: #000000;
  --color-2: #49244f;
  --color-3: #d9d9d9;
  --color-4: #dbd4dc;
  --color-5: #77597b;
  --color-6: #e2dde3;

  /* Text */
  --color-text-main: var(--color-1);
  --color-strong: var(--color-2);
  --color-strong-alt: var(--color-6);
  --color-link: var(--color-2);

  /* Fonts */
  --font-main: "Garamond";
  --font-main-2: "Futura PT", sans-serif;
  --font-title: "Queen Inline";
  --font-header: "Queen Grunge";
  --font-size-100: 10pt;
  --font-size-200: 12pt;
  --font-size-300: 16pt;
  --font-size-400: 18pt;
  --font-size-500: 22pt;
  --font-size-600: 34pt;
  --font-size-700: 54pt;
  --font-size-800: 60pt;
  --font-size-primary: var(--font-size-100);
  /* Headers */
  --color-headers-main: var(--color-2);
  --img-header-banner: url("/img/SotDL/backgrounds/header-banner.png");
  --color-header-border: var(--color-1);
  --font-size-title: var(--font-size-800);
  --font-size-title-banner: var(--font-size-700);
  --font-size-title-chapter: var(--font-size-600);
  --font-size-subtitle: var(--font-size-600);
  --font-size-h1: var(--font-size-600);
  --font-size-h2: var(--font-size-500);
  --font-size-h3: var(--font-size-400);
  --font-size-h4: var(--font-size-300);
  --font-size-h5: var(--font-size-100);
  --font-size-h6: var(--font-size-100);

  /* Backgrounds */
  --img-main-bg: url("/img/SotWW/Background.jpg");

  /* Monster Stat Blocks */
  --color-monster-h1-bg: var(--color-1);
  --color-monster-h2-bg: var(--color-2);
  --color-monster-h3-bg: var(--color-3);

  /* Tables */
  --color-table-header-bg: var(--color-1);
  --color-table-main-bg: initial;
  --color-table-alt-bg: var(--color-4);
}
