/*** Shadow of the Weird Wizard Headers ***/

/** Title **/

.page .title {
  position: absolute;
  bottom: 0.5rem;
  width: 75%;
  left: 12.5%;
  text-shadow:
    0 1px 1px #000,
    1px 2px 3px #000,
    2px 3px 4px #000,
    3px 4px 5px #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: white;

  & h1,
  & h2,
  & h4 {
    color: white;
    text-align: center;
    position: relative;
    text-transform: none;
    font-family: var(--font-title);
  }

  & h1 {
    font-size: var(--font-size-subtitle);
    & span.smaller {
      font-size: var(--font-size-h2);
    }
  }

  & h2 {
    margin-top: 0;
  }
}

.page div.banner h1.title.chapter {
  font-size: var(--font-size-title-banner-chapter);
}

.page h2.subtitle {
  font-family: var(--font-main);
  color: var(--color-text-main);
  font-size: var(--font-size-subtitle);
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: none;
}

/** Title END **/

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  text-align: left;
  font-weight: normal;
  margin-top: 0.75rem;
  text-transform: none;
  font-family: var(--font-main);
  color: var(--color-headers-main);
}

.page .columnWrapper h1:first-child,
.page .columnWrapper h2:first-child,
.page .columnWrapper h3:first-child,
.page .columnWrapper h4:first-child,
.page .columnWrapper h5:first-child,
.page .columnWrapper h6:first-child,
.page .columnWrapper h7:first-child {
  margin-top: 0;
}

.page h1 {
  font-family: var(--font-header);
  font-size: var(--font-size-h1);
}

.page h2 {
  font-family: var(--font-header);
  font-size: var(--font-size-h2);
  border-bottom: 4px double var(--color-text-main);
}

.page h3 {
  text-transform: uppercase;
  border-bottom-style: none;
  font-size: var(--font-size-h3);
  padding: 0;
}

.page h4 {
  font-family: var(--font-header);
  font-size: var(--font-size-h4);
  background-color: var(--color-4);
}

.page h4.path {
  text-align: center;
  border-bottom: 1.1px solid var(--color-text-main);
}

.page div.tables h4,
.page h4.table {
  text-align: center;
}

.page h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-h5);
  padding-bottom: 0.25rem;
  border-bottom: 4px double var(--color-text-main);
}

.page div.tables h5 {
  font-size: var(--font-size-h5);
  text-align: center;
  border-bottom-style: none;
}

.page h5.sidebar {
  font-size: var(--font-size-h5);
  text-align: center;
}

.page h6 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-h6);
  padding-bottom: 0.25rem;
  border-bottom: 1.1px solid var(--color-text-main);
}

.page img.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.page h1 + p::first-letter {
  float: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
