/*** Shadow of the Weird Wizard Spells ***/

.page h6.spell {
  text-align: left;
  font-weight: bold;

  & + ul li {
    line-height: 1.2rem;

    & strong {
      font-size: var(--font-size-80);
    }

    & p + p {
      text-indent: unset;
    }
  }
}
