/*** Shadow of the Weird Wizard Monster Stat Blocks ***/

.page hr + blockquote {
  padding: 0px;
  box-shadow: none;
  border-style: none;
  background-image: none;
  background-color: transparent;
  border-image-source: none;
  -webkit-filter: none;
  filter: none;
}

.page hr + blockquote h3 {
  font-family: var(--font-main);
  background-color: var(--color-monster-name-bg);
  background-image: none;
  color: white;
  font-weight: bold;
  font-size: var(--font-size-200);
  padding: 5px;
  margin: 0px;
  /* float: left; */
  /* width: 70%; */
  height: 28px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: none;
}

.page hr + blockquote h4 {
  font-family: var(--font-main);
  font-weight: normal;
  font-size: var(--font-size-90);
  font-style: initial;
  color: var(--color-1);
  background-color: var(--color-monster-type-bg);
  padding: 5px;
  text-align: left;
}

.page hr + blockquote h5 {
  font-family: var(--font-main);
  font-weight: bold;
  font-size: var(--font-size-90);
  text-align: left;
  color: var(--color-main);
  background-color: var(--color-monster-traits-bg);
  padding: 3px;
  padding-left: 5px;
  margin-top: 0;
  border-style: none;
  text-transform: uppercase;
}

.page hr + blockquote h5 + ul li ul li {
  list-style-type: none;
}

.page hr + blockquote h4 + p {
  clear: both;
  font-family: var(--font-main-2);
  font-weight: bold;
  font-size: var(--font-size-100);
  color: var(--color-4);
  background-color: var(--color-monster-type-bg);
  padding: 3px;
  padding-left: 5px;
}

.page hr + blockquote h4 + p + hr,
.page hr + blockquote h5 + hr {
  display: none;
}

.page hr + blockquote ul {
  margin-bottom: 0.5em;
}

.page hr + blockquote ul li {
  text-indent: inherit;
  margin-bottom: 0px;
}

.page hr + blockquote ul li .tables table + table thead th {
  padding: 0;
}

.page hr + blockquote h3 + h4 + p + hr + ul:first-of-type li:nth-child(3) {
  white-space: nowrap;
}

.page hr + blockquote hr + ul li {
  list-style: none;
  text-indent: -1rem;
  margin-left: 5px;
  font-family: var(--font-main-2);
  font-size: var(--font-size-100);
  color: var(--color-text-main);
}

.page hr + blockquote ul li strong {
  font-family: var(--font-main-2);
  font-weight: bold;
  font-size: var(--font-size-100);
  color: var(--color-strong);
}

.page hr + blockquote ul + hr {
  border-color: var(--color-secondary);
}

.page hr + blockquote h3 + hr {
  visibility: hidden;
  margin: 0;
  height: 0;
}
