/*** Shadow of the Weird Wizard Tables ***/

.page div.half-table table {
  width: 50%;
}

.page div.tables table thead th,
div.table section div table thead th,
li p + table thead th,
p + table thead th {
  background-color: var(--color-table-header-bg);
  color: var(--color-4);
  font-family: var(--font-main-2);
  font-size: var(--font-size-80);
  padding: 3px 6px 3px 6px;
  min-width: 34px;
}

.page h4.table + table thead th,
.page h4.table + .block table thead th,
.page h5.table + table thead th,
.page h5.table + .block table thead th {
  background-color: var(--color-table-header-bg);
  color: white;
  font-family: var(--font-main-2);
  font-size: var(--font-size-80);
  padding: 3px 6px 3px 6px;
  min-width: 34px;
  text-transform: uppercase;
}

.page div.tables div.column-break + table thead th {
  padding: 0px;
}

.page.ng-scope table thead th {
  padding: 0px;
}

.page table tbody {
  & tr {
    font-family: var(--font-main-2);
    font-size: var(--font-size-80);
  }

  & tr:nth-child(odd) {
    background-color: var(--color-table-alt-bg);
  }

  & tr:nth-child(even) {
    background-color: var(--color-table-main-bg);
  }

  & tr td {
    height: 1rem;
    display: flex;
    align-items: center;
    font-family: var(--font-main-2);

    & p {
      font-family: var(--font-main-2);
      text-indent: 1em;
    }

    & ul {
      text-indent: -1em;
      list-style-type: none;
    }

    & li {
      margin-left: 5px;
      color: var(--color-text-main);
    }

    & strong {
      font-family: var(--font-main);
      font-weight: normal;
      color: var(--color-strong);
    }
  }
}

.page table {
  & strong {
    font-family: var(--font-main);
    font-size: var(--font-size-80);
  }

  & em {
    font-family: var(--font-main-2);
    font-weight: normal;
  }

  & + ul {
    line-height: 1em;
    margin-top: 0.25rem;

    & li {
      font-size: var(--font-size-100);
    }
  }
}

.page ul li table {
  margin: 2px 0 2px 0;

  & tbody tr td {
    padding: 0.1em 0.1em;
  }
}
