@import url("../utils/reset.css");
@import url("fonts.css");
@import url("globals.css");
@import url("headers.css");
@import url("tables.css");

html {
  font-size: 10pt;
}

.page {
  background: none;
  /* background: var(--color-gradient-main); */
  background: var(--color-quinary-glare);
  color: var(--color-header-main);
  height: 279.4mm;
  width: 215.9mm;
}

.page p {
  color: var(--color-text-primary);
  font-family: var(--font-text-primary);
  font-size: var(--font-size-main-text);
}
