/*** IMPORTS ***/

@import url("fonts.css");
@import url("tables.css");
@import url("headers.css");

:root {
  --font-size-main: 9pt;
  --font-size-table: 9pt;
  --font-size-table-small: 8pt;
  --font-size-3: 11pt;
  --font-size-4: 14pt;
  --font-size-h1: 16pt;

  --color-1: #e4d9a3;
  --color-2: #20130f;
  --color-3: #fbf8f5;
  --color-4: #5d5759;

  --font-main: "Caslon Antique";
  --font-alt: "Courier";

  --bg-1: url(https://hb.ra-press.com/img/Medieval/backgrounds/OldPaperTexture.png);
  --bg-2: url(https://hb.ra-press.com/img/Medieval/backgrounds/DarkAncientParchment.png);
  --bg-3: url(https://hb.ra-press.com/img/Medieval/backgrounds/ParchmentRedBorder.png);
}

.page {
  color: #5d5759;
  background: var(--bg-3);
  width: 800px;
  text-align: justify;
  margin: 0px auto;
  font-family: var(--font-alt);
  font-weight: bold;
  font-size: var(--font-size-main);
  padding: 2rem 1rem 1rem 2rem;
  column-gap: 1rem;
}

.page:after {
  content: "";
  background-image: none;
}

.page .wide {
  margin-bottom: 0;
}

.page p {
  margin: 0.5rem;
}

.page .frame {
  background: var(--color-3);
  margin-bottom: 0.4rem;
  padding: 0.25rem;
  border: solid 2px var(--color-2);
}

.page strong {
  letter-spacing: 0rem;
  vertical-align: top;
}

.page .personality ul li {
  list-style-type: none;
  margin-top: 0.5rem;
  margin-left: -0.5rem;
  line-height: 1rem;
}
.page .personality ul li strong {
  list-style-type: none;
  font-family: var(--font-main);
  font-size: var(--font-size-4);
}

.page .background hr {
  visibility: visible;
}

.page .portrait {
  box-shadow: inset 1px 2px 5px #1a1b1baa, inset 2px 4px 5px #1a1b1b77,
    inset 3px 6px 5px #1a1b1b33;
  z-index: 200;
  width: 300px;
  height: auto;
  position: absolute;
  top: 5rem;
  right: 1.5rem;
}
