@font-face {
    font-family: 'Bolden';
    src: url('Bolden-regular.woff2') format('woff2'),
        url('Bolden-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coreal';
    src: url('Coreal-regular.woff2') format('woff2'),
        url('Coreal-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branic';
    src: url('Branic-regular.woff2') format('woff2'),
        url('Branic-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conist';
    src: url('Conist-regular.woff2') format('woff2'),
        url('Conist-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitic';
    src: url('Bitic-regular.woff2') format('woff2'),
        url('Bitic-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blocal';
    src: url('Blocal-regular.woff2') format('woff2'),
        url('Blocal-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cultra';
    src: url('Cultra-regular.woff2') format('woff2'),
        url('Cultra-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Civiny';
    src: url('Civiny-regular.woff2') format('woff2'),
        url('Civiny-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conian';
    src: url('Conian-regular.woff2') format('woff2'),
        url('Conian-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aboric';
    src: url('Aboric-regular.woff2') format('woff2'),
        url('Aboric-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antant';
    src: url('Antant-regular.woff2') format('woff2'),
        url('Antant-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antine';
    src: url('Antine-regular.woff2') format('woff2'),
        url('Antine-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bellar';
    src: url('Bellar-regular.woff2') format('woff2'),
        url('Bellar-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cybern';
    src: url('Cybern-regular.woff2') format('woff2'),
        url('Cybern-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrary';
    src: url('Agrary-regular.woff2') format('woff2'),
        url('Agrary-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corent';
    src: url('Corent-regular.woff2') format('woff2'),
        url('Corent-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antler';
    src: url('Antler-regular.woff2') format('woff2'),
        url('Antler-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cybern';
    src: url('Cybern-regular.woff2') format('woff2'),
        url('Cybern-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antal';
    src: url('Antal-regular.woff2') format('woff2'),
        url('Antal-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Corest';
    src: url('Corest-regular.woff2') format('woff2'),
        url('Corest-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

