@font-face {
    font-family: 'TheBlackBureau';
    src: url('H74TheBlackBureau.woff2') format('woff2'),
        url('H74TheBlackBureau.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spitfire';
    src: url('H74Spitfire.woff2') format('woff2'),
        url('H74Spitfire.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Warlock';
    src: url('H74Warlock.woff2') format('woff2'),
        url('H74Warlock.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ghetto Wolves';
    src: url('H74GhettoWolves.woff2') format('woff2'),
        url('H74GhettoWolves.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Riverside';
    src: url('H74RiversideThin.woff2') format('woff2'),
        url('H74RiversideThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Valkyrie';
    src: url('H74Valkyrie.woff2') format('woff2'),
        url('H74Valkyrie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norway Black';
    src: url('H74NorwayBlack.woff2') format('woff2'),
        url('H74NorwayBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BEAST';
    src: url('HBEAST-Regular.woff2') format('woff2'),
        url('HBEAST-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alderaan';
    src: url('HAlderaan-Regular.woff2') format('woff2'),
        url('HAlderaan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Craft Brew';
    src: url('HCraftBrew-Regular.woff2') format('woff2'),
        url('HCraftBrew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yo Santos';
    src: url('H74YoSantos.woff2') format('woff2'),
        url('H74YoSantos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2600 Cambodia';
    src: url('H-Cambodia.woff2') format('woff2'),
        url('H-Cambodia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2600 Dungeon';
    src: url('H-Dungeon.woff2') format('woff2'),
        url('H-Dungeon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2600 Intel';
    src: url('H-Intel.woff2') format('woff2'),
        url('H-Intel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'John Cenaaa';
    src: url('HJohnCenaaa-Regular.woff2') format('woff2'),
        url('HJohnCenaaa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dirty Whore';
    src: url('HDirtyWhore-Regular.woff2') format('woff2'),
        url('HDirtyWhore-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heavy Metal';
    src: url('HHeavyMetal-Regular.woff2') format('woff2'),
        url('HHeavyMetal-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2600 Street';
    src: url('H-Street.woff2') format('woff2'),
        url('H-Street.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morgue';
    src: url('HMorgue-Regular.woff2') format('woff2'),
        url('HMorgue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NERV Warning';
    src: url('HNERVWarning-Regular.woff2') format('woff2'),
        url('HNERVWarning-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Motherland';
    src: url('HMotherland-Regular.woff2') format('woff2'),
        url('HMotherland-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2600 Zerox';
    src: url('H-Zerox.woff2') format('woff2'),
        url('H-Zerox.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tachikoma';
    src: url('HTachikoma-Regular.woff2') format('woff2'),
        url('HTachikoma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2600 Terminal';
    src: url('H-Terminal.woff2') format('woff2'),
        url('H-Terminal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiger Piss';
    src: url('HTigerPiss-Regular.woff2') format('woff2'),
        url('HTigerPiss-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zombie Allegiance';
    src: url('HZombieAllegiance-Regular.woff2') format('woff2'),
        url('HZombieAllegiance-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dominator';
    src: url('HDominator-Regular.woff2') format('woff2'),
        url('HDominator-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nick Cage';
    src: url('HNickCage-Regular.woff2') format('woff2'),
        url('HNickCage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klauth 01';
    src: url('HKlauth-01.woff2') format('woff2'),
        url('HKlauth-01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klauth 02';
    src: url('HKlauth-02.woff2') format('woff2'),
        url('HKlauth-02.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caracas';
    src: url('HCaracas-Regular.woff2') format('woff2'),
        url('HCaracas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klauth 03';
    src: url('HKlauth-03.woff2') format('woff2'),
        url('HKlauth-03.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Numbnuts';
    src: url('HNumbnuts-Regular.woff2') format('woff2'),
        url('HNumbnuts-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darth Hater';
    src: url('HDarthHater-Regular.woff2') format('woff2'),
        url('HDarthHater-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}