@font-face {
    font-family: 'Machic';
    src: url('Machic-regular.woff2') format('woff2'),
        url('Machic-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meric';
    src: url('Meric-regular.woff2') format('woff2'),
        url('Meric-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milian';
    src: url('Milian-regular.woff2') format('woff2'),
        url('Milian-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metral';
    src: url('Metral-regular.woff2') format('woff2'),
        url('Metral-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metail';
    src: url('Metail-regular.woff2') format('woff2'),
        url('Metail-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mainal';
    src: url('Mainal-regular.woff2') format('woff2'),
        url('Mainal-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Natic';
    src: url('Natic-regular.woff2') format('woff2'),
        url('Natic-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newist';
    src: url('Newist-regular.woff2') format('woff2'),
        url('Newist-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neodox';
    src: url('Neodox-regular.woff2') format('woff2'),
        url('Neodox-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novian';
    src: url('Novian-regular.woff2') format('woff2'),
        url('Novian-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newero';
    src: url('Newero-regular.woff2') format('woff2'),
        url('Newero-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Othery';
    src: url('Othery-regular.woff2') format('woff2'),
        url('Othery-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muture';
    src: url('Muture-regular.woff2') format('woff2'),
        url('Muture-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Natern';
    src: url('Natern-regular.woff2') format('woff2'),
        url('Natern-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newire';
    src: url('Newire-regular.woff2') format('woff2'),
        url('Newire-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nework';
    src: url('Nework-regular.woff2') format('woff2'),
        url('Nework-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nastic';
    src: url('Nastic-regular.woff2') format('woff2'),
        url('Nastic-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oldern';
    src: url('Oldern-regular.woff2') format('woff2'),
        url('Oldern-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Natish';
    src: url('Natish-regular.woff2') format('woff2'),
        url('Natish-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nascal';
    src: url('Nascal-regular.woff2') format('woff2'),
        url('Nascal-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

