/*** Shadow of the Demon Lord Cover ***/

.page img.cover-logo {
  position: absolute;
  z-index: 5;
}

.page img.dotdl {
  position: absolute;
  z-index: 5;
}

.page .block.cover-footer,
.page .block.cover-footer em {
  position: absolute;
  column-span: all;
  font-family: var(--font-main);
  bottom: 10px;
  left: 0;
  text-align: left;
  font-size: 10pt;
  width: 550px;
  color: #eeeeee;
  text-shadow: 1px 1px 2px #000000, -1px 1px 2px #000000, 1px -1px 2px #000000,
    -1px -1px 2px #000000;
}
