/*** Shadow of the Demon Lord Lists ***/

.page ul {
  text-indent: -1em;
  list-style-type: none;
}

.page ol {
  /* margin: 0 0 1.5em; */
  padding: 0;
  counter-reset: item;
}

.page ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

.page ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-family: var(--font-secondary-strong);
  font-weight: bold;
  font-size: 9pt;
  text-align: right;
  content: counter(item) ".";
}

.page ul strong,
.page ul p strong,
.page ol strong {
  font-family: var(--font-secondary-strong);
  font-weight: normal;
  font-size: 10pt;
  letter-spacing: -0.02em;
  color: var(--color-strong);
}

.page ul li ul li strong,
.page ul li strong + strong {
  font-size: 9pt;
}

.page hr + ul li {
  list-style-type: disc;
  text-indent: 0;
}

.page ul li ul li,
.page ul + div.column-break + ul li {
  list-style-type: disc;
  text-indent: 0;
}

.page ul + div.column-break + ul li {
  margin-left: 1.5em;
}

.page p ul li strong {
  font-family: var(--font-secondary-strong);
  font-weight: normal;
  font-size: var(--font-size-primary);
  color: var(--color-strong-alt);
  letter-spacing: -0.02em;
}

.page p ul li ul li strong,
.page p + ul li strong {
  font-family: var(--font-secondary-strong);
  font-weight: normal;
  font-size: var(--font-size-primary);
  color: var(--color-strong);
  letter-spacing: -0.02em;
}

.page ul li p {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: inherit;
}

.page ul li p + ul {
  margin-top: 0px;
}

.page ul li div.column-break + p,
.page ul + div.column-break + p {
  text-indent: 1em;
}

.page.ng-scope ul li p {
  text-indent: -1em;
}

.page.ng-scope ul li p + p {
  text-indent: 1em;
}

.page p + ul {
  margin-top: 0.25em;
}

.page p.list-indent {
  margin-left: 1em;
  line-height: 1em;
  text-indent: 1em;
}

.page p.list-indent + ul li:first-of-type {
  margin-left: 0;
  line-height: 1em;
  text-indent: 1em;
}

.page li,
.page ol {
  font-family: var(--font-main);
  font-size: var(--font-size-primary);
  text-align: justify;
  letter-spacing: -0.01em;
}

.page ul ul,
.page ol ol,
.page ul ol,
.page ol ul {
  margin-bottom: 0;
  margin-left: 0;
  line-height: inherit;
}
