/*** Shadow of the Demon Lord Monster Stat Blocks ***/

.page hr + blockquote {
  padding: 0px;
  box-shadow: none;
  border-style: none;
  background-image: none;
  background-color: transparent;
  border-image-source: none;
  -webkit-filter: none;
  filter: none;
}

.page hr + blockquote h3 {
  font-family: Athelas;
  background-color: var(--color-monster-h1-bg);
  background-image: none;
  color: var(--color-quaternary);
  font-weight: bold;
  font-size: 12pt;
  padding: 5px;
  float: left;
  margin: 0px;
  width: 70%;
  height: 28px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: none;
}

.page hr + blockquote h4 {
  font-family: Athelas;
  font-weight: normal;
  font-size: 8pt;
  font-style: initial;
  color: var(--color-quaternary);
  background-color: var(--color-monster-h1-bg);
  padding: 5px;
  float: right;
  width: 30%;
  height: 28px;
  margin: 0px;
  text-align: right;
}

.page hr + blockquote h5 {
  font-family: Athelas;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  color: var(--color-strong);
  background-color: var(--color-monster-h3-bg);
  padding: 3px;
  padding-left: 5px;
  margin-top: 0;
  border-style: none;
  text-transform: uppercase;
}

.page hr + blockquote h5 + ul li ul li {
  list-style-type: none;
}

.page hr + blockquote h4 + p {
  clear: both;
  font-family: Athelas;
  font-weight: bold;
  font-size: 9pt;
  color: var(--color-quaternary);
  background-color: var(--color-monster-h2-bg);
  padding: 3px;
  padding-left: 5px;
}

.page hr + blockquote h4 + p + hr,
.page hr + blockquote h5 + hr {
  display: none;
}

.page hr + blockquote ul {
  margin-bottom: 0.5em;
}

.page hr + blockquote ul li {
  text-indent: inherit;
  margin-bottom: 0px;
}

.page hr + blockquote ul:first-of-type li:nth-child(3) {
  white-space: nowrap;
}

.page hr + blockquote hr + ul li {
  list-style: none;
  text-indent: -1rem;
  margin-left: 5px;
  font-family: "GothamBook";
  font-size: 8pt;
  color: var(--color-text-main);
}

.page hr + blockquote ul li strong {
  font-family: "GothamBold";
  font-weight: bold;
  font-size: 9pt;
  color: var(--color-strong);
}

.page hr + blockquote ul + hr {
  border-color: var(--color-secondary);
}

.page hr + blockquote h3 + hr {
  visibility: hidden;
  margin: 0;
  height: 0;
}

.page hr + blockquote h3 + hr + h4:before {
  content: "";
}

.page hr + blockquote h4:before {
  content: "DIFFICULTY ";
}

.page hr + blockquote h3.vehicle + h4:before {
  content: "PRICE ";
}
