/*** Shadow of the Demon Lord toc ***/

.page .toc h3,
.page .toc h4,
.page .toc h5 {
  font-size: 10pt;
  text-transform: capitalize;
  font-family: var(--font-main);
  color: var(--color-text-main);
  font-weight: bold;
}

.page .toc h5 {
  font-weight: bold;
  border-bottom: none;
}

.toc.wide ul li {
  font-size: 10pt;
  list-style-type: none;
}

/*** GMB TOC, keeping for posterity for now ***/

.page .toc2 li span:nth-child(2) {
  /* Allow dot leaders to fill remaining space but not overlap */
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.page .toc2 li span:nth-child(2):after {
  /* Remove any header styles from dot leaders */
  font-family: var(--font-main);
  font-size: 0.4cm;
  font-weight: normal;
  color: var(--color-text-main);
  content: " ........................................"
    "........................................."
    ".........................................";
}

.page .toc2 li span:first-child {
  /* Remove any header styles from page numbers */
  float: right;
  font-family: var(--font-main);
  font-size: 0.4cm;
  font-weight: normal;
  color: var(--color-text-main);
  margin-left: 1px;
}

.page .toc2 li h3 {
  font-size: 12pt;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* .page .toc2 li h3 span:first-child {
      line-height: 1.8em;
  } */

/* .page .toc2 li h3+ul li:nth-child(1) h4 span {
      margin-right:-7px;
  } */

.page .toc2 li h4,
.page .toc2 li h5 {
  text-transform: none;
  font-family: var(--font-main);
}

.page .toc2 li h4 {
  font-size: 10pt;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 0px;
}

.page .toc2 li h5 {
  font-size: 10pt;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}

.page .toc2 ul {
  text-indent: initial;
}

.page .toc2 ul ul {
  margin-left: 1rem;
}

.page .toc2 > ul > li {
  margin-bottom: initial;
}

.page .toc2 ul li ul li {
  list-style-type: none;
}

.page .toc2 ul + div.column-break + ul li {
  list-style-type: none;
  margin-left: 0px;
}
