/*** Mythos Global properties ***/

:root {
    /* Colors */
    --color-main: #000000;

    --color-purple: #9b30ff;
    --color-purple-table-bg: #b78bd6;
    --color-purple-gradient: linear-gradient(#9b30ff 20%, #afb4cf 40%, #9b30ff 60%, #483060 80%);

    --color-blue: #338ec1;
    --color-blue-table-bg: #accce3;
    --color-blue-gradient: linear-gradient(#338ec1 20%, #accce3 50%, #338ec1 70%);

    --color-green: #59753e;
    --color-green-table-bg: #769c54;
    --color-green-gradient: linear-gradient(#769c54 30%, #59753e 50%, #3c4f2a 70%);

    /* --color-orange: #e1480d;
    --color-orange-table-bg: #e1480d;
    --color-orange-gradient: linear-gradient(#fcce2c 20%, #fefa8fff 40%, #e1480dff 60%); */

    --color-orange: #e1480d;
    --color-orange-table-bg: #f4a261;
    --color-orange-gradient: linear-gradient(#fc8e2c 20%, #ffd891 40%, #fc8e2c 60%, #e1480d 80%);

    --color-yellow: #d9a400;
    --color-yellow-table-bg: #ffe4a1;
    --color-yellow-gradient: linear-gradient(#f7c232 20%, #fff1b8 40%, #f7c232 60%, #f7b801 80%);

    --color-pink: #926475;
    --color-pink-table-bg: #faccdf;
    --color-pink-gradient: linear-gradient(#e8c6d4ff 20%, #926475ff 40%, #faccdfff 70%);

    --color-red: #ff0000;
    --color-red-table-bg: #ff5e5e;
    --color-red-gradient: linear-gradient(#fa6a6a 20%, #ff0000 50%, #fa6a6a 70%, #6b0303 90%);

    --color-chrome: #2d2927;
    --color-chrome-table-bg: #e8c6d4ff;
    --color-chrome-gradient: linear-gradient(#f6f1e8 10%, #cdccca 20%, #f6f1e8 40%, #89837f 60%, #2d2927 90%);

    --color-dark: #020201;
    --color-dark-table-bg: #020201;
    --color-dark-gradient: linear-gradient(#5d5d5dff 10%, #464747ff 20%, #5d5d5dff 40%, #020201ff 60%);

    --color-title-gradient: linear-gradient(#707ba9ff 40%, #bfd7f0ff 50%, #fff 80%);
    --color-title-gradient-alt: linear-gradient(#fff 30%, #fefa8fff 40%, #f7bf4eff 50%, #e14326ff 70%);
    --color-title-gradient-last-letter: linear-gradient(
        #bfd7f0ff 20%,
        #fff 40%,
        #fefa8fff 60%,
        #f7bf4eff 70%,
        #e14326ff 90%
    );

    /* Fonts */
    --font-title: "Edo";
    --font-heading: "JDK Bushidoo";
    --font-main: "Roboto", sans-serif;
    --font-table: "Ubuntu", sans-serif;
    --font-table-alt: "Noto Sans", sans-serif;
    --font-size-1: 9.5pt;
    --font-size-2: 11pt;
    --font-size-3: 13pt;
    --font-size-4: 14pt;
    --font-size-5: 15pt;
    --font-size-6: 17pt;
    --font-size-7: 20pt;
    --font-size-8: 40pt;
    --font-size-9: 50pt;
    --font-size-10: 60pt;
    --font-size-11: 70pt;

    /* Icons */
    --icon-chi: url("https://hb.ra-press.com/img/Icons/Resources/chi.png");
    --icon-fs: url("https://hb.ra-press.com/img/Icons/Resources/fight-spirit.png");
    --icon-momentum: url("https://hb.ra-press.com/img/Icons/Resources/momentum.png");
}
