/* Icons */

span.inline-block.momentum {
    content: var(--icon-momentum);
    width: 16px;
    margin-bottom: -0.25rem;
}

span.inline-block.chi {
    content: var(--icon-chi);
    width: 16px;
    margin-bottom: -0.25rem;
}

span.inline-block.fs {
    content: var(--icon-fs);
    width: 16px;
    margin-bottom: -0.25rem;
}
