/** Lists **/

ul li {
    list-style-type: none;
    text-indent: -1rem;
}

ul li ul li {
    list-style-type: disc;
    padding-left: 0;
    margin-left: -1rem;
    padding-left: 1rem;
}

h2 + ul {
    margin-top: 0.5rem;
}

.page ol {
    list-style: auto;
}
