/* No Mercy! Moves */

.page hr + h5 + ul,
.page hr + h5 + ul + hr + ul,
.page hr + h5 + ul + hr + ul + hr + ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.page hr + h5 + ul + hr,
.page hr + h5 + ul + hr + ul + hr {
    visibility: visible;
}
