/** Street Fighter Global properties **/

:root {
  --img-header-banner: url(../img/backgrounds/header-banner.png);
  /* --img-main-bg: url(../img/backgrounds/sotdl_background.jpg); */
  --img-bg-border: url(../img/backgrounds/sotdl_background_border.png);
  --img-bg-page-number: url(../img/backgrounds/pentagram.png);
  --img-parchment: url(../img/backgrounds/parchment.png);
  --img-parchment-long: url(../img/backgrounds/parchment-long.png);
  --color-headers-main: #800000;
  --color-text-main: black;
  --color-strong: black;
  --color-strong-alt: #800000;
  --color-monster-h1-bg: black;
  --color-monster-h2-bg: #800000;
  --color-monster-h3-bg: #a7a9ac;
  --color-header-border: black;
  --color-table-header-bg: black;
  --color-table-main-bg: initial;
  --color-table-alt-bg: white;
  --color-maneuvers: #1e495d;
  --color-maneuvers-secondary: #70a56f;
  --color-styles: #e71815;
  --color-styles-secondary: #fe7239;
  --color-side-border: var(--color-maneuvers);
  --color-side-border-text: var(--color-maneuvers-secondary);
  --color-link: #4927ac;
  --blend-half-vertical: url("/SotDL-Homebrew/assets/img/blends/sotdl-blend-half-vertical.png");
  --blend-half-horizontal: url("/SotDL-Homebrew/assets/img/blends/sotdl-blend-half-horizontal.png");
  --blend-corner: url("/SotDL-Homebrew/assets/img/blends/sotdl-blend-corner.png");
  --blend-onethird: url("/SotDL-Homebrew/assets/img/blends/sotdl-blend-onethird.png");
  --blend-twothirds: url("/SotDL-Homebrew/assets/img/blends/sotdl-blend-twothirds.png");
  --blend-corner-inverted: url("/SotDL-Homebrew/assets/img/blends/sotdl-blend-corner-inverted.png");
  --blend-corner-inverted-small: url("/SotDL-Homebrew/assets/img/blends/sotdl-blend-corner-inverted-small.png");
  --blend-corner-quarter: url("/SotDL-Homebrew/assets/img/blends/sotdl-blend-corner-quarter.png");
}

/** Global properties END **/
