/*** Street Fighter Headers ***/

.page img.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.page h1.title {
  background-image: var(--img-header-banner);
  background-size: 100% 106%;
  padding: 20px 0;
  margin: 0px -65px 0px -65px;
  text-align: center;
}

.page h1.title span {
  font-family: "First Order";
  font-size: 50pt;
  text-align: center;
  font-weight: normal;
  text-shadow: 0px 0px 5px black;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 2px 6px 3px #000,
    3px 7px 3px #000, 4px 8px 3px #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: #f3ebebd1;
  position: relative;
  /* left: 20%; */
  bottom: 5px;
}

.page h1.title-text {
  position: absolute;
  left: 120px;
  top: 200px;
}

.page h1.title-text span {
  font-family: "sftitle";
  font-size: 60pt;
  text-align: center;
  font-weight: normal;
  text-shadow: 0px 0px 5px black;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 2px 6px 3px #000,
    3px 7px 3px #000, 4px 8px 3px #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: #f3ebebd1;
  position: relative;
}

.page h2.title {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text-main);
  font-size: 18pt;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  margin: 0 50px 0 50px;
}

.page h1+p::first-letter {
  float: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6,
.page h7 {
  font-family: "sftitle";
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-headers-main);
  margin-bottom: 5px;
  margin-top: 5px;
}

.page h1 {
  font-size: 50pt;
}

.page h1.moves {
  font-size: 55pt;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(#83b461, #284c55);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(-3deg);
  filter: drop-shadow(4px 5px 2px black);
}

.page h2 {
  font-size: 18pt;
  margin-bottom: 1rem;
}

.page div.styles h2 {
  font-size: 20pt;
  text-align: center;
  color: var(--color-styles);
  text-shadow: -1px -1px 0 var(--color-styles-secondary),
    1px -1px 0 var(--color-styles-secondary),
    -1px 1px 0 var(--color-styles-secondary),
    1px 1px 0 var(--color-styles-secondary);
  margin-bottom: 25px;
  column-span: none;
  -webkit-column-span: none;
}

/* .page div.punch h2,
.page div.kick h2,
.page div.blocks h2,
.page div.grab h2,
.page div.athletics h2,
.page div.focus h2, */
.page div.moves h2 {
  color: #ffffff;
  text-align: center;
  padding: 2px;
}

.page div.punch h2 {
  background-color: #4e3d7b;
  transform: rotate(2deg);
}

.page div.kick h2 {
  background-color: #ff0b48;
  transform: rotate(-2deg);
}

.page div.blocks h2 {
  background-color: #800080;
  transform: rotate(2deg);
}

.page div.grab h2 {
  background-color: #355e00;
  transform: rotate(-2deg);
}

.page div.athletics h2 {
  background-color: #b80047;
  transform: rotate(2deg);
}

.page div.focus h2 {
  background-color: #7aa731;
  transform: rotate(-2deg);
}

.page div.weapon h2 {
  background-color: #ffc000;
  transform: rotate(-2deg);
}

.page h3 {
  border-bottom-style: none;
  font-size: 18pt;
  padding: 0;
}

.page h4 {
  font-size: 13pt;
}

/* .page div.punch h4,
.page div.kick h4,
.page div.blocks h4,
.page div.grab h4,
.page div.athletics h4,
.page div.focus h4, */
.page div.moves h4 {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  text-transform: none;
  padding-left: 1em;
}

.page div.punch h4 {
  color: #6b2394;
  font-weight: bold;
}

.page div.kick h4 {
  color: #ff0000;
  font-weight: bold;
}

.page div.blocks h4 {
  color: #800080;
  font-weight: bold;
}

.page div.grab h4 {
  color: #355e00;
  font-weight: bold;
}

.page div.athletics h4 {
  color: #b80047;
  font-weight: bold;
}

.page div.focus h4 {
  color: #7aa731;
  font-weight: bold;
}

.page div.weapon h4 {
  color: #ffc000;
  font-weight: bold;
}

.page h4.traits {
  font-size: 14pt;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: var(--color-header-border);
  border-bottom-width: 1.1px;
}

.page h4.table {
  font-size: 14pt;
  text-align: center;
}

.page h5 {
  font-size: 12pt;
  border-bottom-style: solid;
  border-bottom-color: var(--color-header-border);
  border-bottom-width: 1.1px;
}

.page h5.table {
  font-size: 12pt;
  text-align: center;
  border-bottom-style: none;
}

.page h5.sidebar {
  font-size: 12pt;
  text-align: center;
}

.page h6 {
  font-size: 10pt;
  border-bottom-style: solid;
  border-bottom-color: var(--color-headers-main);
  border-bottom-width: 1.1px;
}

/*** Headers END ***/