@import url("/css/fonts/Rlyehian/stylesheet.css");
@import url("/css/fonts/GoingMad/stylesheet.css");
@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");

/** Handwriting **/

.handwriting p,
.handwriting h4,
.handwriting {
    font-family: "Going Mad";
}

.handwriting .double p,
.handwriting .double h4,
.handwriting .double {
    font-family: "Going Mad Double";
}

.handwriting .munge p,
.handwriting .munge h4,
.handwriting .munge {
    font-family: "Going Mad Munge";
}

.handwriting .shaky p,
.handwriting .shaky h4,
.handwriting .shaky {
    font-family: "Going Mad Shake";
}

.handwriting .warp p,
.handwriting .warp h4,
.handwriting .warp {
    font-family: "Going Mad Warp";
}

.handwriting .heavy p,
.handwriting .heavy h4 {
    font-family: "Going Mad Heavy";
}

.handwriting .double .heavy p,
.handwriting .double .heavy h4,
.handwriting .double.heavy {
    font-family: "Going Mad Heavy Double";
}

.handwriting .munge .heavy p,
.handwriting .munge .heavy h4,
.handwriting .munge.heavy {
    font-family: "Going Mad Heavy Munge";
}

.handwriting .shaky .heavy p,
.handwriting .shaky .heavy h4,
.handwriting .shaky.heavy {
    font-family: "Going Mad Heavy Shake";
}

.handwriting .warp .heavy p,
.handwriting .warp .heavy h4,
.handwriting .warp.heavy {
    font-family: "Going Mad Heavy Warp";
}

.handwriting .light p,
.handwriting .light h4 {
    font-family: "Going Mad Light";
}

.handwriting .double .light p,
.handwriting .double .light h4,
.handwriting .double.light {
    font-family: "Going Mad Light Double";
}

.handwriting .munge .light p,
.handwriting .munge .light h4,
.handwriting .munge.light {
    font-family: "Going Mad Light Munge";
}

.handwriting .shaky .light p,
.handwriting .shaky .light h4,
.handwriting .shaky.light {
    font-family: "Going Mad Light Shake";
}

.handwriting .warp .light p,
.handwriting .warp .light h4,
.handwriting .warp.light {
    font-family: "Going Mad Light Warp";
}

/** Handwriting END **/
