/** Imports **/
@import url("/css/fonts/Rlyehian/stylesheet.css");

/** Global properties **/

:root {
  --img-header-banner: url(https://hb.ra-press.com/img/FromTheDeep/header-banner-from_the_deep.png);
  --img-main-bg: url(https://hb.ra-press.com/img/FromTheDeep/FromTheDeep-BG.jpg);
  --img-bg-border: url(https://hb.ra-press.com/img/FromTheDeep/FromTheDeep-bg-border.png);
  --img-bg-page-number: url(https://hb.ra-press.com/img/FromTheDeep/Tentacles.png);
  --color-headers-main: #3c4228;
  --color-text-main: #0f120b;
  --color-strong: #0f120b;
  --color-strong-alt: #3c4228;
  --color-marginalia: #3c4228;
  --color-header-border: #0f120b;
  --color-table-header-bg: #0f120b;
  --color-monster-h1-bg: #0f120b;
  --color-monster-h2-bg: #3c4228;
  --color-monster-h3-bg: #828675;
}

/** Global properties END **/

/*** Headers ***/

.page h1.title {
  padding-top: 25px;
  margin: 0px -76px 0px -76px;
  height: 15%;
}

.page h1.title span {
  left: unset;
  bottom: unset;
}

/*** Headers END ***/

.page p strong {
  color: var(--color-strong);
}

/*** Lists ***/

.page p ul li strong {
  color: var(--color-strong);
}

/*** Lists END ***/

.page strong em,
.page em strong {
  color: var(--color-strong);
}

/** Page number **/

.page:nth-child(odd) .pageNumber,
.page:nth-child(even) .pageNumber {
  bottom: 40px;
}

.page:nth-child(odd) .pageNumber {
  left: 37px;
}

.page:nth-child(even) .pageNumber {
  left: 730px;
}

.page:nth-child(odd)::after,
.page:nth-child(even)::after {
  background-size: 100px 100px, 816px 1056px;
  background-position: 26px calc(100% - 20px), bottom;
  margin-bottom: unset;
  /* margin-left: unset; */
}

/*** Page number END ***/

/*** Handouts ***/

.page div.handout {
  background: var(--img-parchment);
  background-size: 100% 100%;
  column-span: all;
  margin-right: 75px;
  margin-left: 75px;
}

.page div.handout p {
  -moz-font-feature-settings: "liga" 1;
  -webkit-font-feature-settings: "liga" 1;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  font-family: "Rlyehian";
  font-size: 16pt;
  color: #9c0719;
}

/*** Handouts END***/
