/** Import Fonts **/

@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");
/** Global properties **/

:root {
  --color-marginalia: #9c0719;
}

/** Global properties END **/

/**  **/

.page {
  padding: 1.25cm 2cm 1.7cm 2cm;
  column-gap: 0.5cm;
  column-width: 8cm;
  -webkit-column-gap: 0.5cm;
  -webkit-column-width: 8cm;
  -moz-column-gap: 0.5cm;
  -moz-column-width: 8cm;
}

/*** Marginalia ***/

.page div.block.sidenote p,
.page span.inline-block.sidenote p,
.page td div.block.sidenote,
.page td span.inline-block.sidenote {
  color: var(--color-marginalia);
  font-family: "Rock Salt", cursive;
  font-size: 7.5pt;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.3px;
  margin-right: 0.25rem;
  position: absolute;
  right: 0;
  top: auto;
  width: 63px;
  padding: 3px;
}

.page div.block.sidenote,
.page div.block.sidenote.left,
.page td div.block.sidenote.left,
.page td div.block.sidenote {
  display: block;
}

.page div.block.sidenote.left p,
.page span.inline-block.sidenote.left p {
  left: 0;
  right: auto;
  margin-left: 0.75rem;
  margin-right: auto;
  width: 61px;
  text-indent: 0;
}

.page td div.block.sidenote.left,
.page td span.inline-block.sidenote.left {
  margin-left: 1rem;
  width: 63px;
}

.page:nth-child(odd) div.block.sidenote.left p,
.page:nth-child(odd) span.inline-block.sidenote.left p {
  left: 0.25rem;
}

.page:nth-child(even) div.block.sidenote p,
.page:nth-child(even) span.inline-block.sidenote p {
  right: 0.25rem;
}

.page div.block.sidenote.below p,
.page div.block.sidenote.above p {
  width: 100%;
  position: relative;
  transform: rotate(-3deg);
  font-size: 9pt;
}

.page div.block.sidenote.above p {
  transform: rotate(3deg);
}

/*** Marginalia END ***/
