/** Import Fonts **/

@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");
/** Global properties **/

:root {
  --color-marginalia: #9c0719;
}

/** Global properties END **/

/**  **/

.page {
  padding: 1.7cm 2cm 1.7cm 2cm;
  column-gap: 1cm;
  column-width: 8cm;
  -webkit-column-gap: 1cm;
  -webkit-column-width: 8cm;
  -moz-column-gap: 13cm;
  -moz-column-width: 8cm;
}

/*** Marginalia ***/

.page div.block.sidenote p {
  color: var(--color-marginalia);
  font-family: "Rock Salt", cursive;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3px;
  margin-right: 11px;
  position: absolute;
  right: 0;
  top: auto;
  width: 63px;
  padding: 3px;
}

.page div.block.sidenote.left p {
  left: 0;
  right: auto;
  margin-left: 20px;
  margin-right: auto;
  width: 61px;
  text-indent: 0;
}

.page td div.block.sidenote.left p {
  margin-left: 25px;
  width: 63px;
}

/*** Marginalia END ***/
