/*** Blends ***/

/** ----- Color filtering ----- **/
/* Use this to find filter settings to turn white into a wanted color: */
/* https://codepen.io/sosuke/pen/Pjoqqp */
/** --------------------------- **/

/** Positions & Transforms **/

.page img {
  position: absolute;
  width: unset;
  z-index: -3;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.flipX {
  transform: scaleX(-1);
}

.flipY {
  transform: scaleY(-1);
}

.flipXY {
  transform: scale(-1);
}

/** Positions & Transforms END **/

/** Blending **/

.page .blend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* background-size: 100%; */
}

.half-v {
  background-image: var(--blend-half-vertical);
  background-size: 115%;
}

.half-h {
  background-image: var(--blend-half-horizontal);
}

.corner {
  background-image: var(--blend-corner);
}

.corner-inverted {
  background-image: var(--blend-corner-inverted);
}

.corner-inverted-small {
  background-image: var(--blend-corner-inverted-small);
}

.corner-quarter {
  background-image: var(--blend-corner-quarter);
}

.onethird {
  background-image: var(--blend-onethird);
}

.twothirds {
  background-image: var(--blend-twothirds);
}

.half-v-alt {
  background-image: var(--blend-half-vertical-alt);
  background-size: 115%;
}

.half-h-alt {
  background-image: var(--blend-half-horizontal-alt);
}

.corner-alt {
  background-image: var(--blend-corner-alt);
}

.corner-inverted-alt {
  background-image: var(--blend-corner-inverted-alt);
}

.corner-inverted-small-alt {
  background-image: var(--blend-corner-inverted-small-alt);
}

.corner-quarter-alt {
  background-image: var(--blend-corner-quarter-alt);
}

.onethird-alt {
  background-image: var(--blend-onethird-alt);
}

.twothirds-alt {
  background-image: var(--blend-twothirds-alt);
}

/** Blending END **/