/*** Placeholder utilities ***/

.page div.placeholder-art {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 100px;
  right: 20px;
  bottom: 20px;
  border: 15px ridge #7d373a;
}

.page div.placeholder-art p {
  flex: 0 0 30;
  font-size: 20pt;
  font-weight: bold;
}

.page div.placeholder-art h6 {
  font-size: 30pt;
  margin: 10px 0 0 0;
  border-bottom: none;
}

.page div.filler-1 {
  margin-top: 1rem;
}

.page div.filler-2 {
  margin-top: 2rem;
}

.page div.filler-3 {
  margin-top: 3rem;
}