/*** Based on the new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(hr, iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul,
.page ol,
.page ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img,
.page img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table,
.page table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

.page:after,
.page:nth-child(even):after,
.page:nth-child(odd):after {
  background-image: unset;
}

.page p {
  text-indent: unset;
}

.page h1,
.page h2,
.page h3,
.page h4 {
  border: none;
}