@font-face {
  font-family: "Caslon Antique";
  src: url("caslonantique-webfont.woff2") format("woff2"),
    url("caslonantique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caslon Antique Bold";
  src: url("caslonantique-bold-webfont.woff2") format("woff2"),
    url("caslonantique-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caslon Antique Bold Italic";
  src: url("caslonantique-bolditalic-webfont.woff2") format("woff2"),
    url("caslonantique-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caslon Antique Italic";
  src: url("caslonantique-italic-webfont.woff2") format("woff2"),
    url("caslonantique-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
