@import url(headers.css);

:root {
  --softcover-small-5_5x8_5-width: 5.5in;
  --softcover-small-5_5x8_5-height: 8.5in;
  --softcover-small-6x9-width: 6in;
  --softcover-small-6x9-height: 9in;
  --softcover-small-6_14x9_21-width: 6.14in;
  --softcover-small-6_14x9_21-height: 9.21in;

  --page-width: var(--softcover-small-6x9-width);
  --page-height: var(--softcover-small-6x9-height);

  --margin-top-padding: 1cm;
  --margin-right-padding: 1cm;
  --margin-bottom-padding: 1cm;
  --margin-left-padding: 1cm;
  --margin-right-padding-odd: 1cm;
  --margin-left-padding-odd: 1cm;

  --column-gap: 0.25cm;
  --column-width: 3.5cm;
}

.brewRenderer .pages > .page {
  margin-bottom: 10px;
}

@media print {
  .page {
    margin: 0;
    height: var(--page-height);
    width: var(--page-width);
  }
}

.page {
  font-family: var(--font-main);
  background-image: none;
  background-color: rgb(224, 224, 224);
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--page-height);
  width: var(--page-width);
  padding: var(--margin-top-padding) var(--margin-right-padding) var(--margin-bottom-padding) var(--margin-left-padding);
  column-fill: auto;
  column-count: 2;
  column-gap: var(--column-gap);
  column-width: var(--column-width);
  -webkit-column-count: 2;
  -webkit-column-gap: var(--column-gap);
  -webkit-column-width: var(--column-width);
  -moz-column-count: 2;
  -moz-column-gap: var(--column-gap);
  -moz-column-width: var(--column-width);

  &:nth-child(odd):not(#p1) {
    padding: var(--margin-top-padding) var(--margin-right-padding-odd) var(--margin-bottom-padding)
      var(--margin-left-padding-odd);
  }

  & a,
  & .custom-external-link,
  & .custom-internal-link {
    color: unset;
  }

  & hr {
    border-style: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;
    position: relative;
  }

  & .descriptive {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-style: italic;
    padding-left: 30px;

    & h5 {
      font-style: normal;
      color: black;
      text-align: center;
    }
  }
}

/*** Containers ***/

.page .text-container {
  position: absolute;
}

.page .column-container {
  column-count: 2;
  column-span: all;
}

/*** Containers END***/

/*** Layout ***/

.page div.dual-tables {
  column-count: 2;

  & h4 {
    margin-top: 0px;
  }
}

.page div.column-break + p,
.page.ng-scope p {
  text-indent: 1em;
}

/*** Layout END ***/

/*** Bold ***/

strong {
  p & {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 10pt;
    color: black;
    letter-spacing: -0.02em;
  }

  & em,
  em & {
    color: black;
    font-style: normal;
    font-weight: bold;
  }
}
/*** Bold END ***/

/* TOC END */

/*** Note block ***/

.page blockquote.note {
  border: 1px solid black;
  background-color: orange;
  padding: 20px 15px 20px 15px;
  overflow: hidden;
  height: auto;
  margin-right: -10px;
  margin-left: -10px;
}

.page blockquote.note table {
  margin-bottom: 0.25em;
}

.page blockquote.note table tbody tr td {
  line-height: 1.25em;
}

/*** Note block END ***/

.page {
}

.html-code code {
  visibility: visible;
  box-shadow: 1px 1px 1px black;
  background-color: #aaa;
  font-family: "Lucida Console";
}
