@import url("https://roninra.github.io/SotDL-Homebrew/assets/fonts/SFSTG/stylesheet.css");
@import url(global.css);
@import url(headers.css);

/**  **/

.brewRenderer .pages > .page {
  margin-bottom: 10px;
}

@media print {
  .page {
    margin: 0;
    height: 279.4mm;
    width: 215.9mm;
  }
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  height: 279.4mm;
  width: 215.9mm;
  padding: 1cm 1.1cm 1cm 1.1cm;
  column-fill: auto;
  column-count: 2;
  column-gap: 0.4cm;
  column-width: 9cm;
  -webkit-column-count: 2;
  -webkit-column-gap: 0.4cm;
  -webkit-column-width: 9cm;
  -moz-column-count: 2;
  -moz-column-gap: 0.4cm;
  -moz-column-width: 9cm;
}

.page a,
.page .custom-external-link {
  color: var(--color-link);
}

.page span.dots {
  font-family: "Dots";
  font-size: 40pt;
  font-weight: bold;
  letter-spacing: -0.15em;
  vertical-align: middle;
  padding-right: 5px;
  margin-left: -4px;
}

/*** Cover ***/

.page img.cover-logo {
  position: absolute;
  width: 375px;
  bottom: 50px;
  left: 20px;
  z-index: 5;
}

.page img.sfstg {
  position: absolute;
  width: 225px;
  bottom: 15px;
  right: 16px;
  z-index: 5;
}

.page p.cover-footer,
.page p.cover-footer em {
  font-family: Arial, Helvetica, sans-serif;
  bottom: 10px;
  left: 25px;
  text-align: left;
  font-size: 10pt;
  width: 550px;
  color: #eeeeee;
}

/*** Cover END ***/

/*** Layout ***/

.page div.column-container {
  column-count: 2;
  column-span: all;
}

.page div.dual-tables {
  column-count: 2;
}

/*** Layout END ***/

/*** Bold ***/

.page strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
}

.page p strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  /* font-weight: bold; */
  font-size: 10pt;
  color: var(--color-strong-alt);
  letter-spacing: -0.02em;
}

.page strong em,
.page em strong {
  color: var(--color-strong-alt);
  font-style: normal;
  /* font-weight: bold; */
}

.page h5 + p strong {
  color: var(--color-strong);
}

/*** Bold END ***/

/* Tables */

.page div.half-table table {
  width: 50%;
}

.page h4.table + table thead th,
h4.table + section div table thead th,
li p + table thead th,
p + table thead th,
.page h5.table + table thead th,
h5.table + section div table thead th {
  background-color: var(--color-table-header-bg);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  padding: 3px 6px 3px 6px !important;
  min-width: 34px;
}

.page div.column-break + table thead th {
  padding: 0px;
}

.page.ng-scope table thead th {
  padding: 0px;
}

.page table tbody tr {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.page table tbody tr:nth-child(odd) {
  background-color: var(--color-table-main-bg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.page table tbody tr:nth-child(even) {
  background-color: var(--color-table-alt-bg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.page table tbody tr td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  min-width: 34px;
}

.page table tbody tr td p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-indent: 1em;
}

.page table tbody tr td ul {
  text-indent: -1em;
  list-style-type: none;
}

.page table tbody tr td li {
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: var(--color-text-main);
}

.page table tbody tr td strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8pt;
  color: var(--color-strong);
}

.page table strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-size: 8pt;
}

.page table + ul {
  line-height: 1em;
  margin-top: -0.5em;
}

.page table + ul li {
  font-size: 10pt;
}

.page table em {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.page ul li table {
  margin: 2px 0 2px 0;
}

.page ul li table tbody tr td {
  padding: 0.1em 0.1em;
}

/*** Tables END ***/

/*** Blockquote ***/

.page blockquote {
  background-color: #ebf1fd;
  background-size: 100% 100%;
  padding: 10px 10px 20px 12px;
  overflow: hidden;
  box-shadow: unset;
  margin-bottom: 0;
}

.page blockquote section h1,
.page blockquote section h2,
.page blockquote section h3,
.page blockquote section h4,
.page blockquote section h5,
.page blockquote section h6 {
  font-family: "sftitle";
}

.page blockquote section h1 {
  background-color: var(--color-maneuvers);
  color: #fff;
}

.page blockquote h5,
.page blockquote h3 {
  border: none;
  font-weight: normal;
  text-align: center;
  color: #fff;
  background-color: var(--color-maneuvers);
}

.page blockquote h4 {
  text-align: center;
  color: #fff;
}

.page blockquote p {
  font-size: 0.83em;
}

.page blockquote section ul li {
  list-style-type: disc;
  text-indent: 0;
}

/*** Blockquote END ***/

/*** Style Listing Block ***/

.page div.style-moves blockquote {
  border: 3px solid var(--color-styles);
  /* background-color: #FFD9D9; */
  background: linear-gradient(
    283deg,
    #ffd7d9 -11%,
    #fe7239 20%,
    transparent 100%
  );
}

.page div.style-moves blockquote section h1 {
  color: #fff;
  font-size: 18pt;
  text-align: center;
  line-height: 1.3em;
  padding: 5px;
  margin: -11px -12px 10px -12px;
  background-color: var(--color-styles);
}

.page div.style-moves blockquote section ul li {
  list-style-type: none;
}

/*** Style Listing Block END ***/

/*** Note block ***/

.page blockquote.note {
  border: 1px solid orange;
  border-image-source: var(--img-parchment);
  border-image-slice: 20 fill;
  border-image-width: 20;
  border-image-outset: 5;
  border-image-repeat: round;
  padding: 20px 15px 20px 15px;
  overflow: hidden;
  height: auto;
  margin-right: -10px;
  margin-left: -10px;
}

.page blockquote.note table {
  margin-bottom: 0.25em;
}

.page blockquote.note table tbody tr td {
  line-height: 1.25em;
}

/*** Note block END ***/

/*** Patreon Credits block END ***/

.page div.patreon blockquote {
  border: 3px solid var(--color-maneuvers);
  position: absolute;
  bottom: 15px;
  right: 40px;
  width: 340px;
  text-align: center;
}

.page div.patreon blockquote p:last-child {
  margin-bottom: 10px;
}

.page div.patreon blockquote p {
  font-size: 1em;
}

.page div.patreon blockquote img {
  display: block;
  margin: 0px auto 20px auto;
  width: 50%;
}

.page div.patreon blockquote h5 {
  margin: -11px -12px 10px -12px;
  padding: 5px;
  line-height: 1.3em;
}

.page div.patreon blockquote div.column-container h6 {
  margin: 0px 0px 0px 5px;
}

/*** Patreon Credits block END ***/

/* Credits blockquote */

.page blockquote.credits {
  text-shadow: none;
}

.page blockquote.credits h1.credits {
  font-family: "Poison Hope";
  font-weight: normal;
  font-size: 18pt;
  text-align: center;
  border: none;
}

.page blockquote.credits p {
  font-family: "Poison Hope";
  font-weight: normal;
  font-size: 10pt;
  color: var(--color-text-main);
  margin-top: -5px;
  text-align: center;
  padding-bottom: 0px;
  text-shadow: none;
}

.page blockquote.credits p strong em {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  color: var(--color-strong);
  font-style: italic;
  font-weight: bold;
}

.page blockquote.credits p span.before-colon {
  color: var(--color-headers-main);
}

.page blockquote.credits div.acknowledgements p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 8pt;
  letter-spacing: -0.02em;
  margin-top: -5px;
}

.page blockquote.credits div.acknowledgements p strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8pt;
  color: var(--color-strong);
  letter-spacing: -0.03em;
}

.page blockquote.credits img.credits-image {
  width: 45%;
  display: block;
  position: initial;
  margin-left: auto;
  margin-right: auto;
}

/*** Credits block END ***/

/* Credits div */

.page div.credits {
  border-image: none;
  border: none;
  padding: 20px 10px 20px 10px;
  text-shadow: none;
}

.page div.credits h1,
.page div.credits h3 {
  text-align: center;
  margin-bottom: 20px;
}

.page div.credits h1.credits {
  font-family: "Poison Hope";
  font-weight: normal;
  font-size: 32pt;
  text-align: center;
  border: none;
}

.page div.credits p {
  font-family: "Poison Hope";
  font-weight: normal;
  font-size: 13pt;
  color: var(--color-text-main);
  margin-top: 5px;
  text-align: center;
  padding-bottom: 0px;
  text-shadow: none;
}

.page div.credits p strong em {
  color: var(--color-strong);
  font-style: italic;
  font-weight: bold;
}

.page div.credits p span.before-colon {
  color: var(--color-headers-main);
}

.page div.credits div.acknowledgements p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10pt;
  letter-spacing: -0.02em;
}

.page div.credits div.acknowledgements strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: var(--color-strong);
  letter-spacing: -0.03em;
}

.page div.credits img.credits-image {
  width: auto;
  display: block;
  position: initial;
  margin-left: auto;
  margin-right: auto;
}

/*** Credits div END ***/

.page .descriptive {
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-style: italic;
  padding-left: 30px;
}

.page .descriptive h5 {
  font-style: normal;
  color: var(--color-text-main);
  text-align: center;
}

/** Page number **/

.page .pageNumber,
.page .pageNumber.auto {
  font-family: "sftitle";
  font-size: 10pt;
  color: #ffffff;
  /* text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000; */
  text-align: center;
}

.page:nth-child(odd) .pageNumber,
.page:nth-child(even) .pageNumber {
  right: 0px;
  bottom: 15px;
  width: 50px;
  vertical-align: middle;
}

.page:nth-child(odd) .pageNumber {
  left: 775px;
}

.page:nth-child(even) .pageNumber {
  left: -10px;
}

.page:nth-child(odd)::after,
.page:nth-child(even)::after {
  content: "";
  background: none;
  bottom: 0;
  height: 100%;
  z-index: -2;
  padding: 0px;
}

.page:nth-child(even)::after {
  border-left: 35px solid var(--color-side-border);
}

.page:nth-child(odd)::after {
  border-right: 35px solid var(--color-side-border);
}

.page:nth-child(even)::after p,
.page:nth-child(odd)::after p {
  color: var(--color-side-border-text);
  transform: rotate(90deg);
}

div#p1::after {
  background-image: none;
}

.page .footnote {
  color: var(--color-strong);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  width: 200px;
  bottom: 20px;
}

.ng-scope section::before,
.ng-scope section::after {
  position: fixed;
  background: #c00000;
  left: 84px;
  right: 0;
  height: 40px;
  width: 100%;
  top: 1060px;
}

/* div#preview .ng-scope {
    border-left: 40px solid #C00000;
    border-right: 40px solid #C00000;
} */

/*** Page number END ***/

.html-code code {
  visibility: visible;
  box-shadow: 1px 1px 1px black;
  background-color: #aaa;
  font-family: "Lucida Console";
}

.page hr {
  border-style: solid;
  border-color: black;
  border-width: 1px 0px 0px 0px;
  position: relative;
}

/*** Lists ***/

.page ul {
  text-indent: 1em;
  list-style-type: none;
  padding-left: 0.5em;
}

.page ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

.page ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

.page ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 9pt;
  text-align: right;
  content: counter(item) ".";
}

.page ul strong,
.page ul p strong,
.page ol strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: -0.02em;
  color: var(--color-strong);
}

.page ul li ul li strong,
.page ul li strong + strong {
  font-size: 9pt;
}

.page hr + ul li {
  list-style-type: disc;
  text-indent: 0;
}

.page ul li ul li,
.page ul + div.column-break + ul li {
  list-style-type: disc;
  text-indent: 0;
}

.page ul + div.column-break + ul li {
  margin-left: 1.5em;
}

.page p ul li strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: var(--color-strong-alt);
  letter-spacing: -0.02em;
}

.page p ul li ul li strong,
.page p + ul li strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: var(--color-strong);
  letter-spacing: -0.02em;
}

.page ul li p {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: inherit;
}

.page ul li div.column-break + p {
  text-indent: 1em;
}

.page p + ul {
  margin-top: -0.8em;
}

.page p.list-indent {
  margin-left: 1em;
  line-height: 1em;
  text-indent: 1em;
}

.page p,
.page li,
.page ol {
  font-family: "Athelas";
  font-size: 11pt;
  text-align: left;
  letter-spacing: -0.01em;
  margin: 2px 0px;
}

.page ul ul,
.page ol ol,
.page ul ol,
.page ol ul {
  margin-bottom: 0;
  margin-left: 0;
  line-height: inherit;
}

.page ul li strong + span.chi {
  color: #660066;
}

.page ul li strong + span.wp {
  color: #dc2300;
}

/*** Lists END ***/

/** Monster Stat Block **/

.page hr + section blockquote {
  padding: 0px;
  box-shadow: none;
  border-style: none;
  background-image: none;
  background-color: transparent;
  -webkit-filter: none;
  filter: none;
}

.page hr + section blockquote h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-monster-h1-bg);
  background-image: none;
  color: white;
  font-weight: bold;
  font-size: 12pt;
  padding: 5px;
  float: left;
  margin: 0px;
  width: 70%;
  text-align: left;
  text-transform: uppercase;
}

.page hr + section blockquote h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 8pt;
  font-style: initial;
  color: white;
  background-color: var(--color-monster-h1-bg);
  padding: 5px;
  float: right;
  width: 30%;
  height: 27px;
  margin: 0px;
  text-align: right;
}

.page hr + section blockquote h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  color: var(--color-strong);
  background-color: var(--color-monster-h3-bg);
  padding: 3px;
  padding-left: 5px;
  border-style: none;
  text-transform: uppercase;
}

.page hr + section blockquote h2 + p {
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 9pt;
  color: white;
  background-color: var(--color-monster-h2-bg);
  padding: 3px;
  padding-left: 5px;
}

.page hr + section blockquote h2 + p + hr,
.page hr + section blockquote h3 + hr {
  display: none;
}

.page hr + section blockquote section section ul li {
  text-indent: inherit;
  margin-bottom: 0px;
}

.page hr + section blockquote hr + ul li {
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: var(--color-text-main);
}

.page hr + section blockquote ul li strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8pt;
  color: var(--color-strong);
}

.page hr + section blockquote ul + hr {
  border-color: #800000;
}

.page hr + section blockquote h1 + hr {
  visibility: hidden;
  margin: 0;
  height: 0;
}

.page hr + section blockquote h1 + hr + section h2:before {
  content: "";
}

.page hr + section blockquote h2:before {
  content: "DIFFICULTY ";
}

/*** Monster Stats END ***/

/** Spells **/

.page div.spell h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: var(--color-headers-main);
  font-weight: bold;
  background-image: none;
  padding: 5px 0px 5px 0px;
  float: left;
  margin: 0px;
  display: block;
  text-align: left;
  text-shadow: none;
  text-transform: uppercase;
}

.page div.spell h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7pt;
  color: var(--color-headers-main);
  font-weight: bold;
  font-style: initial;
  padding: 8px 0px 5px 0px;
  float: right;
  margin: 0px;
  text-align: right;
  display: block;
  text-transform: uppercase;
}

.page div.spell hr {
  background-image: none;
  visibility: visible;
  border-style: solid;
  border-color: black;
  border-width: 1.1px 0px 0px 0px;
  position: relative;
}

.page div.spell h2 + hr {
  border-width: 2px 0px 0px 0px;
  width: 100%;
}

.page div.spell p {
  font-size: 9pt;
}

.page div.spell p strong {
  font-size: 8pt;
}

.page div.spell ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 1em;
  text-indent: initial;
  list-style-type: none;
}

.page div.spell ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  list-style-type: none;
}

.page div.spell ul li strong {
  font-family: "Arial Black", "Arial Bold", Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  letter-spacing: -0.02em;
}

/*** Spells END ***/

/*** Ad Page ***/

.page div.ad-page {
  column-span: all;
  -webkit-column-span: all;
  -moz-column-span: all;
}

.page div.ad-page h3 {
  color: var(--color-main);
  font-size: 14pt;
  margin-bottom: 20px;
}

.page div.ad-page div.grid {
  display: grid;
  grid-template-columns: 150px 500px;
  grid-gap: 2rem;
}

.page div.ad-page div.grid img {
  width: 150px;
  box-shadow: 7px 7px 5px 1px #1a1b1b;
}

/*** Ad Page END***/
